{% extends "CentreFormationBundle::Templates/layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <h1>Cycle et formations</h1>
  <p>Bienvenue sur l'application de gestion du centre de formation.</p>
  <div>
  	Cette application vous permet
  	<ul>
  		<li>de créer des formations et d'y associer des formateurs</li>
  		<li>de lister les formateurs</li>
  		<li>de lister les formations</li>
  		<li>de calculer les prestations des formateurs</li>
	</ul>
  </div>
{% endblock %}