{% extends "CentreFormationBundle::Templates/baseHTML.html.twig" %}

{% block title %}Formateurs{% endblock %}

{% block body %}
  <h1>Liste des formateurs</h1>
  <div>
    <table>
      <thead>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Rémunération</td>
      </thead>
    </table>
  </div>
{% endblock %}