{% extends "CentreFormationBundle::Templates/layout.html.twig" %}

{% block title %}Formateurs{% endblock %}

{% block body %}
<h1>Liste des formateurs</h1>
<div>
  <table>
    <thead>
      <td>Nom</td>
      <td>Prénom</td>
      <td>GSM</td>
      <td>Email</td>
    </thead>
    <tbody>
      {% for formateur in listeFormateurs %}
      <tr>
        <td>{{ formateur.nom }}</td>
        <td>{{ formateur.prenom }}</td>
        <td>{{ formateur.gsm }}</td>
        <td>{{ formateur.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}