{% extends "CentreFormationBundle::Templates/layout.html.twig" %}

{% block title %}Ajouter formateur{% endblock %}

{% block body %}
  <h1>Ajouter un formateur</h1>

<div class="well">
  {{ form(form) }}
</div>

{% endblock %}