{% extends "CentreFormationBundle::templates/layout.html.twig" %}

{% block title %}Accueil{% endblock %}

  {% block body %}
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 style="margin-bottom: 50px">Cycle et formations</h1>
      </div>
      <div class="panel-body">
        <p>Bienvenue sur l'application de gestion du centre de formation.</p>
        Cette application vous permet
        <ul>
          <li>de créer des formations et d'y associer des formateurs</li>
          <li>de lister les formateurs</li>
          <li>de lister les formations</li>
          <li>de calculer les prestations des formateurs</li>
        </ul>
      </div>
    </div>
    
  {% endblock %}